# --- INFRASTRUCTURE (defaults values) ---
DB_USER=admin
DB_NAME=prism_db
DB_HOST=database
DB_PORT=5432

# --- SECRETS (don't versionize) ---
DB_PASSWORD=

# RTE API ids https://data.rte-france.com
RTE_CLIENT_ID=
RTE_CLIENT_SECRET=

# --- SOFTWARE CONFIGURATION ---
# log level: debug, info, warning, error
LOG_LEVEL=info
NODE_ENV=development